<template>
  <div>
    <v-chart class="chart" :option="option" />
  </div>
</template>

<script>
import "echarts";
import VChart from "vue-echarts";

export default {
  components: {
    VChart,
  },
  props: {
    devices: {
      type: Array,
    },
    dataValues: {
      type: Array,
    },
    date: {
      type: Array,
    },
  },
  watch: {
    devices(val) {
      this.option.xAxis.data = val;
    },
    dataValues(val) {
      this.option.series[0].data = val;
    },
  },
  data() {
    return {
      option: {
        title: {
          text: "Data by Group of Devices",
          left: "center",
        },
        toolbox: {
          feature: {
            dataZoom: {
              yAxisIndex: "none",
            },
            dataView: { readOnly: false },
            magicType: { type: ["line", "bar"] },
            saveAsImage: {},
          },
        },
        grid: {
          left: "10%",
          right: "10%",
          bottom: "0%",
          containLabel: true,
        },
        xAxis: {
          type: "category",
          data: this.devices,
        },
        yAxis: {
          type: "value",
        },
        series: [
          {
            data: this.dataValues,
            barWidth: "25%",
            type: "bar",
          },
        ],
      },
    };
  },
};
</script>

<style scoped>
.chart {
  height: 400px;
}
</style>