<template>
  <div>
    <img v-bind:src="blueprintByFloor()" />

    <div>
      <v-col class="d-flex" cols="12" sm="5" style="margin: auto">
        <v-select
          :items="items"
          v-model="floor"
          label="Floor View"
          dense
          outlined
        ></v-select>
      </v-col>

    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      floor: this.floorId,
      items: ['0', '1', '2']
    };
  },
  props: {
    floorId: {
      required: true,
      type: String,
    },
  },
  methods: {
    blueprintByFloor() {
      let path = "";
      switch (this.floor) {
        case "0": 
          path =
            "https://www.novushomes.com.au/sites/www.novushomes.com.au/files/house_designs/Paragon%20Premium/floorplan/paragon-floor-plan-2-upper-v2.png";
          break;
        case "1":
          path =
            "http://cdn.shopify.com/s/files/1/2829/0660/products/Mission-Viego-Second-Floor_U_800x.jpg?v=1534512706";
          break;
        case "2":
          path =
            "http://cdn.shopify.com/s/files/1/2829/0660/products/Victoria-Second-Floor_U_800x.jpg?v=1534724793";
          break;
      }
      return path;
    },
  },
};
</script>

<style>
</style>
