<template>
  <div class="container-card">
    <v-card class="mx-0" max-width="344">
      <div style="display: flex">
        <div style="margin: 12px">
          <img :src="img" style="width: 32px; height: 32px" />
        </div>
        <div style="margin-top: 16px">
          <span style="font-weight: bold; font-size: 120%">
            {{ parameter }}
          </span>
        </div>
      </div>

      <div>
        <v-card-text v-if="!(unit == 'r')">
          <div style="top: 50%; font-size: 250%">{{ value }} {{ unit }}</div>
        </v-card-text>
        <v-card-text v-if="unit == 'r'">
          <div style="top: 50%; font-size: 200%">
            {{ unit }}:{{ value }} {{ unit1 }}:{{ value1 }} 
            {{ unit2 }}:{{ value2}}
          </div>
        </v-card-text>

        <!-- <v-event color="yellow" dense outlined text type="info"></v-event> -->
      </div>

      <div v-if="event.flag" style="display: flex">
        <div v-if="event.severity == 0" style="margin: 12px">
          <img :src="warning" style="width: 32px; height: 32px" />
        </div>
        <div v-if="event.severity == 1" style="margin: 12px">
          <img :src="critical" style="width: 32px; height: 32px" />
        </div>
        <div v-if="event.severity == null" style="margin: 12px">
          <img :src="ok" style="width: 32px; height: 32px" />
        </div>
        <div style="margin-top: 16px">
          <span style="font-weight: bold; font-size: 100%">
            {{ event.message }}
          </span>
        </div>
      </div>

      <div v-if="!event.flag" style="display: flex">
        <div v-if="event.severity == null" style="margin: 12px">
          <img :src="ok" style="width: 32px; height: 32px" />
        </div>
        <div style="margin-top: 16px">
          <!--Write below any message for green event-->
          <span style="font-weight: bold; font-size: 100%"></span>
        </div>
      </div>
    </v-card>
  </div>
</template>

<script>
export default {
  props: {
    path: {
      required: false,
      type: String,
    },
    value: {
      required: true,
    },
    value1: {
      required: false,
    },
    value2: {
      required: false,
    },
    parameter: {
      required: true,
      type: String,
    },
    unit: {
      required: false,
      type: String,
      default: "",
    },
    unit1: {
      required: false,
      type: String,
      default: "",
    },
    unit2: {
      required: false,
      type: String,
      default: "",
    },
    event: {
      required: true,
      type: Object,
    },
  },
  computed: {
    img() {
      return "/assets/icons/" + this.path;
    },
    warning() {
      return "/assets/icons/mode.png";
    },
    critical() {
      return "/assets/icons/crit.png";
    },
    ok() {
      return "/assets/icons/suce.png";
    },
  },
};
</script>

<style scoped>
.container-card {
  width: 280px;
  height: 170px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 12px;
  /* padding: 10px; */
  /* margin-top: 10px; */
}
</style>