<template>
  <div>
    <v-chart class="chart" :option="option" />
  </div>
</template>

<script>
import "echarts";
import VChart from "vue-echarts";

export default {
  components: {
    VChart,
  },
  props: {
    dateList: {
      type: Array,
    },
    valueList: {
      type: Array,
    },
  },
  watch: {
    dateList(val) {
      this.option.xAxis.data = val;
    },
    valueList(val) {
      this.option.series = val;
    },
  },
  data() {
    return {
      option: {
        toolbox: {
          feature: {
            dataZoom: {
              yAxisIndex: "none",
            },
            dataView: { readOnly: false },
            magicType: { type: ["line", "bar"] },
            saveAsImage: {},
          },
        },
        visualMap: {
          show: false,
          type: "continuous",
          seriesIndex: 0,
          min: 0,
          max: 400,
        },
        title: {
          left: "center",
          text: "Evolution Over Time",
        },
        tooltip: {
          trigger: "axis",
        },
        grid: {
          left: "5%",
          right: "5%",
          bottom: "20%",
          containLabel: true,
        },
        xAxis: {
          data: this.dateList,
        },
        yAxis: {},
        series: this.valueList,
      },
    };
  },
};
</script>

<style scoped>
.chart {
  height: 500px;
}
</style>