<template>
  <nav>
    <v-toolbar dense flat>
      <v-app-bar-nav-icon
        v-if="$store.state.isUserLoggedIn"
        @click="drawer = !drawer"
      >
      </v-app-bar-nav-icon>

      <v-btn plain @click="navigateTo({ name: 'root' })">
        <v-icon>home</v-icon>
        Home
      </v-btn>

      <v-spacer></v-spacer>
      <span class="grey--text text-uppercase font-weight-bold font-italic title"
        >Human Experience - Welfare Analysis
      </span>
      <v-spacer></v-spacer>

      <v-btn
        plain
        v-if="!$store.state.isUserLoggedIn"
        @click="navigateTo({ name: 'login' })"
      >
        <v-icon>login</v-icon>
        Login
      </v-btn>

      <v-btn
        plain
        v-if="!$store.state.isUserLoggedIn"
        @click="navigateTo({ name: 'register' })"
      >
        <v-icon>app_registration</v-icon>
        Signup
      </v-btn>

      <v-btn plain v-if="$store.state.isUserLoggedIn" @click="handleLogout">
        <v-icon>logout</v-icon>
        Logout
      </v-btn>
    </v-toolbar>

    <v-navigation-drawer
      absolute
      temporary
      v-model="drawer"
      class="primary"
      dark
      light
    >
      <v-list>
        <v-list-item>
          <v-list-item-avatar size="80">
            <v-img src="https://randomuser.me/api/portraits/men/15.jpg"></v-img>
          </v-list-item-avatar>

          <v-list-item-content>
            <v-list-item-title class="white--text text-h5">
              {{ showUsername }}
              <p></p>
              <p>{{ "(" + userRole + ")" }}</p>
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-divider class="mt-4"></v-divider>

        <v-list-item
          class="mt-8"
          v-for="link in homeLink"
          :key="link.text"
          router
          :to="link.route"
        >
          <v-list-item-action>
            <v-icon class="white--text">{{ link.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class="white--text ml-n16">
              {{ link.text }}</v-list-item-title
            >
          </v-list-item-content>
        </v-list-item>

        <!-- Group -->

        <v-list-group
          class="mx-auto"
          color="white"
          prepend-icon="account_circle"
        >
          <template v-slot:activator>
            <v-list-item-title class="white--text ml-n4"
              >Profile</v-list-item-title
            >
          </template>

          <v-list-item
            v-for="i in profileLinks"
            :key="i.text"
            router
            :to="i.route"
            link
          >
            <v-list-item-title
              v-text="i.text"
              class="white--text mr-n16"
            ></v-list-item-title>

            <v-list-item-icon>
              <v-icon class="white--text" v-text="i.icon"></v-icon>
            </v-list-item-icon>
          </v-list-item>
        </v-list-group>
      </v-list>

      <!-- limitedPortal Links -->

      <v-list v-if="userServices.limitedPortal || userServices.advPortal">
        <v-list-item
          v-for="link in limitedPortalLinks"
          :key="link.text"
          router
          :to="link.route"
        >
          <v-list-item-action>
            <v-icon class="white--text">{{ link.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class="white--text ml-n16">
              {{ link.text }}</v-list-item-title
            >
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <!-- advPortal Links -->

      <v-list v-if="userServices.analytics && userServices.control">
        <v-list-item
          v-for="link in advPortalLinks"
          :key="link.text"
          router
          :to="link.route"
        >
          <v-list-item-action>
            <v-icon class="white--text">{{ link.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class="white--text ml-n16">
              {{ link.text }}</v-list-item-title
            >
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <!-- MASTER TOOLS-->

      <v-list v-if="userRole === 'master'">
        <v-list-item class="mb-4">
          <v-list-item-title class="mt-16"> Master Tools</v-list-item-title>
        </v-list-item>

        <v-list-item
          v-for="link in masterLinks"
          :key="link.text"
          router
          :to="link.route"
        >
          <v-list-item-action>
            <v-icon class="white--text">{{ link.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class="white--text ml-n16">
              {{ link.text }}</v-list-item-title
            >
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
  </nav>
</template>

<script>
import { mapState } from "vuex";

export default {
  data() {
    return {
      userServices: {},
      homeLink: [{ icon: "home", text: "Home", route: "/" }],
      profileLinks: [
        { icon: "person", text: "View", route: "/profile" },
        { icon: "edit", text: "Edit", route: "/personalInfo" },
      ],
      limitedPortalLinks: [
        { icon: "dashboard", text: "Lobby", route: "/lobby" },
        { icon: "toc", text: "Data", route: "/dataView" },
        { icon: "stay_primary_landscape", text: "Devices", route: "/devices" },
        { icon: "group", text: "Users", route: "/users" },
      ],
      advPortalLinks: [
        { icon: "warning", text: "Event Log", route: "/eventLog" },
        {
          icon: "notifications",
          text: "Control",
          route: "/control",
        },
        { icon: "settings", text: "Analytics", route: "/analytics" },
      ],
      masterLinks: [
        { icon: "group", text: "App Users", route: "/appUsers" },
        {
          icon: "stay_primary_landscape",
          text: "App Devices",
          route: "/appDevices",
        },
        { icon: "settings", text: "Settings", route: "/settings" },
      ],
      username: "",
      drawer: false,
    };
  },
  methods: {
    drawerAction() {
      this.drawer = !this.drawer;
      this.$store.dispatch("setDrawer", this.drawer);
    },
    navigateTo(route) {
      this.$router.push(route);
    },
    handleLogout() {
      this.$store.dispatch("setToken", null);
      this.$store.dispatch("setUser", null);
      this.$router.push({
        name: "root",
      });
    },
  },
  mounted() {
    this.userServices = this.$store.getters.userServices;
  },
  updated() {
    this.username = this.$store.getters.username;
    this.userServices = this.$store.getters.userServices;
  },
  computed: {
    showUsername() {
      return this.username;
    },
    ...mapState(["userRole"]),
  },
};
</script>

<style scoped>
</style>