<template>
  <div>
    <p class="text-h4 font-weight-bold mt-16 mx-auto">Group Analytics</p>

    <div class="align-center text-center mt-12 mx-6">
      <v-card elevation="6" style="margin: auto">
        <v-toolbar flat dense class="blue darken-3" dark>
          <v-toolbar-title>Entries List</v-toolbar-title>
        </v-toolbar>
        <div class="pl-4 pr-4 pt-2 pb-2">
          <v-data-table
            :headers="headers"
            :search="search"
            :items="entries"
            :items-per-page="5"
            fixed-header
            class="elevation-1"
          >
            <template v-slot:[`item.actions`]="{ item }">
              <v-icon medium @click="deleteEntry(item.id)">delete</v-icon>
            </template>
          </v-data-table>

          <v-card-title class="mx-16">
            <v-spacer></v-spacer>
            <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              label="Search"
              single-line
              hide-details
            ></v-text-field>
          </v-card-title>
        </div>
      </v-card>
    </div>

    <div
      v-if="userRole === 'admin' || userRole === 'master'"
      class="align-center text-center mt-12 mx-6"
    >
      <v-card elevation="6" style="margin: auto">
        <v-toolbar flat dense class="blue darken-3" dark>
          <v-toolbar-title>Create New Entry</v-toolbar-title>
        </v-toolbar>
        <div class="d-flex mt-12">
          <v-flex class="md2 ml-12">
            <v-container fluid>
              <v-combobox
                class=""
                v-model="device"
                :items="groupDevices"
                :search-input.sync="search"
                hide-selected
                hint="Maximum of 1 value"
                label="Device"
                multiple
                persistent-hint
                small-chips
              >
              </v-combobox>
            </v-container>
          </v-flex>

          <v-flex class="md2 ml-12">
            <v-container fluid>
              <v-combobox
                class=""
                v-model="dataType"
                :items="typesOfData"
                :search-input.sync="search"
                hide-selected
                hint="Maximum of 1 value"
                label="Data Type"
                multiple
                persistent-hint
                small-chips
              >
              </v-combobox>
            </v-container>
          </v-flex>

          <v-flex class="md2 ml-12">
            <v-container fluid>
              <v-combobox
                class=""
                v-model="condition"
                :items="conditions"
                :search-input.sync="search"
                hide-selected
                hint="Maximum of 1 value"
                label="Condition"
                multiple
                persistent-hint
                small-chips
              >
              </v-combobox>
            </v-container>
          </v-flex>

          <v-flex class="md2 ml-12">
            <v-text-field
              v-model="value"
              label="Value"
              autocomplete="off"
              filled
            ></v-text-field>
          </v-flex>

          <!-- TODO: Implement input validation -->
          <!-- <div class="red--text" v-html="error" /> -->
          <br />
          <v-btn
            class="ml-12 mt-3 mr-2"
            elevation="2"
            @click="createNewEntry()"
          >
            Create
          </v-btn>
        </div>
        <br />
        <div class="red--text" v-html="error" />
        <div class="green--text" v-html="success" />
      </v-card>
    </div>
  </div>
</template>

<script>
import EventService from "@/services/EventService";
import moment from "moment";
import { mapState } from "vuex";

export default {
  data() {
    return {
      entries: [],
      devices: [],
      groupDevices: [],
      headers: [
        { text: "Device", value: "name" },
        { text: "Data Type", value: "dataType" },
        { text: "Condition", value: "conditionSymbol" },
        { text: "Value", value: "value" },
        { text: "Date", value: "createdAt" },
        { text: "Actions", value: "actions", sortable: false },
      ],
      typesOfData: [
        "temperature",
        "co2",
        "noise",
        "humidity",
        "light",
        "air quality",
        "pressure",
        "wifi",
        "devices count",
      ],
      conditions: ["<", ">"],
      model: ["Vuetify"],
      dataType: "",
      condition: "",
      device: "",
      value: null,
      dataTypeId: null,
      deviceId: null,
      groupId: null,
      search: null,
      error: null,
      success: null,
    };
  },
  computed: {
    ...mapState(["userRole"]),
  },
  methods: {
    async retrieveEntries() {
      let self = this;

      try {
        const response = await EventService.getEntries(this.groupId);
        this.entries = response.data;
        console.log("entries: ", this.entries);
      } catch (err) {
        console.log(err);
      }

      function formatTimestamp(timestamp) {
        return moment(timestamp).format("MMMM Do YYYY, h:mm:ss a");
      }

      function nameDevice(deviceId) {
        for (let i = 0; i < self.devices.length; i++) {
          if (deviceId === self.devices[i].id) {
            return self.devices[i].name;
          }
        }
      }

      function nameDataType(dataType) {
        dataType = Number(dataType);
        return self.typesOfData[dataType];
      }

      function convertCondition(condition) {
        return String.fromCharCode(condition);
      }

      this.entries.forEach(function (value) {
        value.createdAt = formatTimestamp(value["createdAt"]);
        value.name = nameDevice(value["refDevice"]);
        value.dataType = nameDataType(value["dataType"]);
        value.conditionSymbol = convertCondition(value["condition"]);
      });
    },

    async refreshList() {
      this.retrieveEntries();
    },

    async createNewEntry() {
      for (let i = 0; i < this.groupDevices.length; i++) {
        if (this.device == this.devices[i].name) {
          this.deviceId = this.devices[i].id;
        }
      }

      for (let i = 0; i < this.typesOfData.length; i++) {
        if (this.dataType == this.typesOfData[i]) {
          this.dataTypeId = i;
        }
      }

      let conditionTemp = this.condition;

      if (conditionTemp == "<") {
        conditionTemp = "<".charCodeAt(0);
      } else if (conditionTemp == ">") {
        conditionTemp = ">".charCodeAt(0);
      } else {
        return;
      }

      try {
        const response = await EventService.createNewEntry({
          refGroup: this.groupId,
          refDevice: this.deviceId,
          dataType: this.dataTypeId,
          condition: conditionTemp,
          value: this.value,
        });
        this.error = null;
        this.success = "New entry successfull.";
        await this.refreshList();
        console.log("Response: ", response);
      } catch (err) {
        this.error = err.response.data.error;
      }
    },

    async deleteEntry(id) {
      EventService.delete(id)
        .then(() => {
          this.refreshList();
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
  async mounted() {
    this.groupId = this.$store.getters.groupId;
    this.devices = this.$store.getters.devices;

    for (let i = 0; i < this.devices.length; i++) {
      this.groupDevices.push(this.devices[i].name);
    }

    this.retrieveEntries();
  },

  watch: {
    //Combobox v-model value is being watched to prevent the selection of more than 1 value
    device(val) {
      if (val.length > 1) {
        this.$nextTick(() => this.device.pop());
      }
    },
    dataType(val) {
      if (val.length > 1) {
        this.$nextTick(() => this.dataType.pop());
      }
    },
    condition(val) {
      if (val.length > 1) {
        this.$nextTick(() => this.condition.pop());
      }
    },
  },
};
</script>


<style scoped>
</style>