<template>
  <div>
    <p class="text-h4 font-weight-bold mt-16 mx-auto">Group Control Panel</p>

    <div class="align-center text-center mt-12 mx-6">
      <v-card elevation="6" style="margin: auto">
        <v-toolbar flat dense class="blue darken-3" dark>
          <v-toolbar-title>Actions List</v-toolbar-title>
        </v-toolbar>
        <div class="pl-4 pr-4 pt-2 pb-2">
          <v-data-table
            :headers="headers"
            :search="search"
            :items="entries"
            :items-per-page="5"
            fixed-header
            class="elevation-1"
          >
          </v-data-table>

          <v-card-title class="mx-16">
            <v-spacer></v-spacer>
            <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              label="Search"
              single-line
              hide-details
            ></v-text-field>
          </v-card-title>
        </div>
      </v-card>
    </div>

    <div
      v-if="userRole === 'admin' || userRole === 'master'"
      class="align-center text-center mt-12 mx-6"
    >
      <v-card elevation="6" style="margin: auto">
        <v-toolbar flat dense class="blue darken-3" dark>
          <v-toolbar-title>Create / Edit Action</v-toolbar-title>
        </v-toolbar>
        <div class="d-flex mt-12">
          <v-flex class="md2 ml-12">
            <v-container fluid>
              <v-combobox
                class=""
                v-model="entryId"
                :items="entryIds"
                :search-input.sync="search"
                hide-selected
                hint="Maximum of 1 value"
                label="Condition Id"
                multiple
                persistent-hint
                small-chips
              >
              </v-combobox>
            </v-container>
          </v-flex>

          <v-flex class="md2 ml-12">
            <v-container fluid>
              <v-combobox
                class=""
                v-model="action"
                :items="actions"
                :search-input.sync="search"
                hide-selected
                hint="Maximum of 1 value"
                label="Action"
                multiple
                persistent-hint
                small-chips
              >
              </v-combobox>
            </v-container>
          </v-flex>

          <v-flex class="md4 ml-12">
            <v-text-field
              v-model="message"
              label="Message"
              autocomplete="off"
              filled
            ></v-text-field>
          </v-flex>

          <!-- TODO: Implement input validation -->
          <!-- <div class="red--text" v-html="error" /> -->
          <br />
          <v-btn class="ml-12 mt-3 mr-2" elevation="2" @click="updateAction()">
            Submit
          </v-btn>
        </div>
        <br />
        <div class="red--text" v-html="error" />
        <div class="green--text" v-html="success" />
      </v-card>
    </div>
  </div>
</template>

<script>
import EventService from "@/services/EventService";
import moment from "moment";
import { mapState } from "vuex";

export default {
  data() {
    return {
      entries: [],
      entryIds: [],
      devices: [],
      actions: ["critical event", "warning event"],
      headers: [
        { text: "Condition Id", value: "id" },
        { text: "Description", value: "description" },
        { text: "Action (Event)", value: "eventType" },
        { text: "Message", value: "message" },
        { text: "Date Created", value: "createdAt" },
      ],
      typesOfEvent: ["warning", "critical"],
      typesOfData: [
        "temperature",
        "co2",
        "noise",
        "humidity",
        "light",
        "air quality",
        "pressure",
        "wifi",
        "devices count",
      ],
      action: "",
      message: "",
      entryId: null,
      search: null,
      groupId: null,
      error: null,
      success: null,
    };
  },
  computed: {
    ...mapState(["userRole"]),
  },
  methods: {
    async retrieveEntries() {
      let self = this;

      try {
        const response = await EventService.getEntries(this.groupId);
        this.entries = response.data;
      } catch (err) {
        console.log(err);
        return;
      }

      this.entries.forEach(function (value) {
        self.entryIds.push(value["id"]);
      });

      function formatTimestamp(timestamp) {
        return moment(timestamp).format("MMMM Do YYYY, h:mm:ss a");
      }

      function nameDevice(deviceId) {
        for (let i = 0; i < self.devices.length; i++) {
          if (deviceId === self.devices[i].id) {
            return self.devices[i].name;
          }
        }
      }

      function nameDataType(dataType) {
        dataType = Number(dataType);
        return self.typesOfData[dataType];
      }

      function convertCondition(condition) {
        return String.fromCharCode(condition);
      }

      function nameEventType(eventType) {
        if (eventType == null) {
          return;
        }
        eventType = Number(eventType);
        return self.typesOfEvent[eventType];
      }

      function buildDescriptionString(deviceName, dataType, condition, value) {
        return deviceName + ": " + dataType + " " + condition + " " + value;
      }

      this.entries.forEach(function (value) {
        value.createdAt = formatTimestamp(value["createdAt"]);
        value.deviceName = nameDevice(value["refDevice"]);
        value.dataType = nameDataType(value["dataType"]);
        value.condition = convertCondition(value["condition"]);
        value.eventType = nameEventType(value["eventType"]);
        value.description = buildDescriptionString(
          value["deviceName"],
          value["dataType"],
          value["condition"],
          value["value"]
        );
      });
      console.log("entries: ", this.entries);
    },

    refreshList() {
      this.retrieveEntries();
    },

    async updateAction() {
      if (this.action == "critical event") {
        this.actionChosen = 1;
      } else this.actionChosen = 0;

      try {
        const response = await EventService.updateAction({
          id: Number(this.entryId),
          eventType: Number(this.actionChosen),
          message: this.message,
        });
        this.error = null;
        this.success = "Action updated.";
        this.refreshList();
        console.log("Response: ", response);
      } catch (err) {
        this.error = err.response.data.error;
      }
    },
  },
  async mounted() {
    this.groupId = this.$store.getters.groupId;
    this.devices = this.$store.getters.devices;

    this.retrieveEntries();
  },
  watch: {
    entryId(val) {
      if (val.length > 1) {
        this.$nextTick(() => this.entryId.pop());
      }
    },
    action(val) {
      if (val.length > 1) {
        this.$nextTick(() => this.action.pop());
      }
    },
  },
};
</script>

<style scoped>
</style>