<template>
  <div>
    <p class="text-h4 font-weight-bold mt-16 mx-auto">Data Archive</p>

    <div class="align-center text-center mt-12 mx-6">
      <v-card elevation="6" style="margin: auto">
        <v-toolbar flat dense class="blue darken-3" dark>
          <v-toolbar-title>Devices Data</v-toolbar-title>
        </v-toolbar>
        <div class="pl-4 pr-4 pt-2 pb-2">
          <v-card>
            <v-col class="d-flex" cols="12" sm="4" style="margin: auto">
              <v-select
                v-if="userServices.advPortal"
                class="d-flex justify-center mb-0"
                :items="periodsToSelect"
                v-model="timePeriod"
                @change="updateTimePeriod(timePeriod)"
                label="Choose Time Period"
                dense
                outlined
              ></v-select>
            </v-col>

            <v-col class="d-flex" cols="12" sm="4" style="margin: auto">
              <v-select
                v-if="userServices.limitedPortal"
                class="d-flex justify-center mb-0"
                :items="limitedPeriodsToSelect"
                v-model="timePeriod"
                @change="updateTimePeriod(timePeriod)"
                label="Choose Time Period"
                dense
                outlined
              ></v-select>
            </v-col>

            <v-data-table
              :headers="headers"
              :search="search"
              :items="payload"
              :items-per-page="10"
              fixed-header
              class="elevation-1"
            >
            </v-data-table>

            <!--SEARCH BAR-->
            <v-card-title class="mx-16">
              <v-spacer></v-spacer>
              <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="Search"
                single-line
                hide-details
              ></v-text-field>
            </v-card-title>
          </v-card>
        </div>
        <div v-if="userServices.csvExport">
          <vue-json-to-csv :json-data="this.payload">
            <v-card mt="8">
              <v-btn elevation="2">
                <b>Export to CSV</b>
              </v-btn>
            </v-card>
          </vue-json-to-csv>
        </div>
      </v-card>
    </div>
  </div>
</template>

<script>
import DataService from "@/services/DataService";
import moment from "moment";
import VueJsonToCsv from "vue-json-to-csv";

export default {
  data() {
    return {
      userServices: {},
      payload: [],
      devices: [],
      selectedDevices: [],
      headers: [
        {
          text: "Device",
          align: "start",
          sortable: "false",
          value: "name",
        },
        { text: "Temperature", value: "temp" },
        { text: "Light", value: "lux" },
        { text: "Light Temperature", value: "light_temp_raw" },
        { text: "Humidity", value: "humidity" },
        { text: "CO2", value: "temp" },
        { text: "Air Quality", value: "tvoc" },
        { text: "Noise", value: "dbavg" },
        { text: "Pressure", value: "pressure" },
        { text: "Wifi", value: "rssi" },
        { text: "Number of Devices", value: "devicesCount" },
        { text: "Devices Flow", value: "devicesFlow" },
        { text: "Date", value: "createdAt" },
      ],
      periodsToSelect: ["Daily", "Weekly", "Monthly"],
      limitedPeriodsToSelect: ["Daily"],
      timePeriod: "",
      dateTo: "",
      dateFrom: "",
      name: "",
      installationLocal: "",
      search: "",
      error: null,
      success: null,
    };
  },
  components: {
    VueJsonToCsv,
  },
  async mounted() {
    let self = this;
    this.userServices = this.$store.getters.userServices;
    this.devices = this.$store.getters.devices;

    this.dateTo = moment().add(1, "days").format("YYYY-MM-DD");
    this.dateFrom = moment().subtract(1, "days").format("YYYY-MM-DD");

    let temp = [];

    for (let i = 0; i < this.devices.length; i++) {
      temp.push(this.devices[i].id);
    }
    this.selectedDevices = temp;

    try {
      const response = await DataService.getDataByInterval(
        this.selectedDevices,
        this.dateFrom,
        this.dateTo
      );
      this.payload = response.data;
      console.log("payload: ", this.payload);
    } catch (err) {
      console.log(err);
    }

    function formatTimestamp(timestamp) {
      return moment(timestamp).format("MMMM Do YYYY, h:mm:ss a");
    }

    function nameDevice(deviceId) {
      for (let i = 0; i < self.devices.length; i++) {
        if (deviceId === self.devices[i].id) {
          return self.devices[i].name;
        }
      }
    }

    this.payload.forEach(function (value) {
      value.createdAt = formatTimestamp(value["createdAt"]);
      value.name = nameDevice(value["refDeviceId"]);
    });
  },
  methods: {
    updateTimePeriod(timePeriod) {
      this.dateTo = moment().format("YYYY-MM-DD");
      switch (timePeriod) {
        case "Daily":
          this.dateFrom = moment().subtract(1, "days").format("YYYY-MM-DD");
          break;
        case "Weekly":
          this.dateFrom = moment().subtract(1, "weeks").format("YYYY-MM-DD");
          break;
        case "Monthly":
          this.dateFrom = moment().subtract(1, "months").format("YYYY-MM-DD");
          break;
      }
      this.getPayload(this.selectedDevices, this.dateFrom, this.dateTo);
    },

    async getPayload(devices, dateFrom, dateTo) {
      let self = this;
      try {
        const response = await DataService.getDataByInterval(
          devices,
          dateFrom,
          dateTo
        );

        this.payload = response.data;
      } catch (err) {
        console.log(err);
      }

      function formatTimestamp(timestamp) {
        return moment(timestamp).format("MMMM Do YYYY, h:mm:ss a");
      }

      function nameDevice(deviceId) {
        for (let i = 0; i < self.devices.length; i++) {
          if (deviceId === self.devices[i].id) {
            return self.devices[i].name;
          }
        }
      }

      this.payload.forEach(function (value) {
        value.createdAt = formatTimestamp(value["createdAt"]);
        value.name = nameDevice(value["refDeviceId"]);
      });
    },
  },
};
</script>


<style scoped>
</style>