<template>
  <div>
    <p class="text-h4 font-weight-bold mt-16 mx-auto">Instaled Devices</p>

    <div class="align-center text-center mt-12 mx-6">
      <v-card elevation="6" style="margin: auto">
        <v-toolbar flat dense class="blue darken-3" dark>
          <v-toolbar-title>Devices List</v-toolbar-title>
        </v-toolbar>

        <div class="pl-4 pr-4 pt-2 pb-2">
          <v-data-table
            :headers="headers"
            :search="search"
            :items="entries"
            :items-per-page="5"
            fixed-header
            class="elevation-1"
          >
          </v-data-table>

          <v-card-title class="mx-16">
            <v-spacer></v-spacer>
            <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              label="Search"
              single-line
              hide-details
            ></v-text-field>
          </v-card-title>
        </div>
      </v-card>
    </div>

    <div
      v-if="userRole === 'admin' || userRole === 'master'"
      class="align-center text-center mt-12 mx-6"
    >
      <v-card elevation="6" style="margin: auto">
        <v-toolbar flat dense class="blue darken-3" dark>
          <v-toolbar-title>Edit Device Info</v-toolbar-title>
        </v-toolbar>
        <div class="d-flex mt-12">
          <v-flex class="md2 ml-12">
            <v-container fluid>
              <v-combobox
                class=""
                v-model="deviceId"
                :items="deviceIds"
                :search-input.sync="search"
                hide-selected
                hint="Maximum of 1 value"
                label="Device Id"
                multiple
                persistent-hint
                small-chips
              >
              </v-combobox>
            </v-container>
          </v-flex>

          <v-flex class="md4 ml-12">
            <v-text-field
              v-model="name"
              label="Name"
              autocomplete="off"
              filled
            ></v-text-field>
          </v-flex>

          <v-flex class="md4 ml-12">
            <v-text-field
              v-model="installLocal"
              label="Installation Local"
              autocomplete="off"
              filled
            ></v-text-field>
          </v-flex>

          <br />
          <v-btn
            class="ml-10 mt-3 mr-6"
            elevation="2"
            @click="updateDeviceInfo()"
          >
            Submit
          </v-btn>
        </div>
        <br />
        <div class="red--text" v-html="error" />
        <div class="green--text" v-html="success" />
      </v-card>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import DeviceService from "@/services/DeviceService";
import moment from "moment";

export default {
  data() {
    return {
      headers: [
        { text: "Device Id", value: "id" },
        { text: "Name", value: "name" },
        { text: "Installation Local", value: "installationLocal" },
        { text: "Mac", value: "mac" },
        { text: "Serial Number", value: "serialNumber" },
        { text: "Date Added", value: "createdAt" },
      ],
      devices: [],
      entries: [],
      deviceIds: [],
      groupId: "",
      deviceId: "",
      name: "",
      installLocal: "",
      error: null,
      search: null,
      success: null,
    };
  },
  methods: {
    async retrieveEntries() {
      let self = this;

      try {
        const response = await DeviceService.getGroupDevices(this.groupId);
        this.entries = response.data;
      } catch (err) {
        console.log(err);
        return;
      }

      this.entries.forEach(function (value) {
        self.deviceIds.push(value["id"]);
      });

      function formatTimestamp(timestamp) {
        return moment(timestamp).format("MMMM Do YYYY, h:mm:ss a");
      }
      this.entries.forEach(function (value) {
        value.createdAt = formatTimestamp(value["createdAt"]);
      });
      console.log("entries: ", this.entries);
      console.log("deviceIds: ", this.deviceIds);
    },

    refreshList() {
      this.retrieveEntries();
    },

    async updateDeviceInfo() {
      let obj = {
        id: this.deviceId,
        name: this.name,
        installLocal: this.installLocal,
        error: this.error,
        success: this.success,
      };
      console.log("Object: ", obj);
      try {
        const response = await DeviceService.updateDeviceInfo(obj);
        this.error = null;
        this.success = "Device info updated successfully.";
        console.log("Response: ", response);
        this.refreshList();
      } catch (err) {
        this.error = err.response.data.error;
        console.log(err);
      }
    },
  },
  computed: {
    ...mapState(["userRole"]),
  },
  mounted() {
    this.groupId = this.$store.getters.groupId;
    this.retrieveEntries();
  },
  watch: {
    deviceId(val) {
      if (val.length > 1) {
        this.$nextTick(() => this.deviceId.pop());
      }
    },
  },
};
</script>


<style scoped>
</style>