<template>
  <div>
    <p class="text-h4 font-weight-bold mt-16 mx-auto">Events Panel</p>

    <div class="align-center text-center mt-12 mx-6">
      <v-card elevation="6" style="margin: auto">
        <v-toolbar flat dense class="blue darken-3" dark>
          <v-toolbar-title>Events List</v-toolbar-title>
        </v-toolbar>
        <div class="pl-4 pr-4 pt-2 pb-2">
          <v-data-table
            :headers="headers"
            :search="search"
            :items="events"
            :items-per-page="10"
            fixed-header
            class="elevation-1"
          >
          </v-data-table>

          <v-card-title class="mx-16">
            <v-spacer></v-spacer>
            <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              label="Search"
              single-line
              hide-details
            ></v-text-field>
          </v-card-title>
        </div>
      </v-card>
    </div>
  </div>
</template>

<script>
import EventService from "@/services/EventService";
import moment from "moment";
import { mapState } from "vuex";

export default {
  data() {
    return {
      events: [],
      devices: [],
      headers: [
        { text: "Event Id", value: "id" },
        { text: "Description", value: "description" },
      ],
      typesOfEvent: ["critical", "warning"],
      typesOfData: [
        "temperature",
        "co2",
        "noise",
        "humidity",
        "light",
        "air quality",
        "pressure",
        "wifi",
      ],
      action: "",
      message: "",
      entryId: null,
      search: null,
      groupId: null,
      error: null,
      success: null,
    };
  },
  computed: {
    ...mapState(["userRole"]),
  },
  async mounted() {
    let self = this;
    this.groupId = this.$store.getters.groupId;
    this.devices = this.$store.getters.devices;

    try {
      const response = await EventService.getEvents(this.groupId);
      this.events = response.data;
    } catch (err) {
      console.log(err);
    }

    function formatTimestamp(timestamp) {
      return moment(timestamp).format("MMMM Do YYYY, h:mm:ss a");
    }

    function nameDevice(deviceId) {
      for (let i = 0; i < self.devices.length; i++) {
        if (deviceId === self.devices[i].id) {
          return self.devices[i].name;
        }
      }
    }

    function nameDataType(dataType) {
      dataType = Number(dataType);
      return self.typesOfData[dataType];
    }

    function convertCondition(condition) {
      return String.fromCharCode(condition);
    }

    function nameEventType(eventType) {
      if (eventType == null) {
        return;
      }
      eventType = Number(eventType);
      return self.typesOfEvent[eventType];
    }

    function buildDescriptionString(
      deviceName,
      eventType,
      createdAt,
      dataType,
      condition,
      value
    ) {
      return (
        deviceName +
        " triggered a " +
        eventType +
        " on " +
        createdAt +
        " due to " +
        dataType +
        " " +
        condition +
        " " +
        value +
        " at " +
        //TODO get measuredValue
        " 'measuredValue'."
      );
    }

    function formatValue(value) {
      return value / 10;
    }

    this.events.forEach(function (value) {
      value.createdAt = formatTimestamp(value["createdAt"]);
      value.deviceName = nameDevice(value["refDevice"]);
      value.dataType = nameDataType(value["dataType"]);
      value.condition = convertCondition(value["condition"]);
      value.eventType = nameEventType(value["eventType"]);
      value.formattedValue = formatValue(value["value"]);
      value.description = buildDescriptionString(
        value["deviceName"],
        value["eventType"],
        value["createdAt"],
        value["dataType"],
        value["condition"],
        value["formattedValue"]
      );
    });
    console.log("events: ", this.events);
  },
};
</script>

<style>
</style>