<template>
  <div class="container-lobby">
    <div v-if="userServices.advPortal" class="blueprint">
      <blueprint-display class="mt-6" floorId="0" />
    </div>

    <div
      class="data"
      v-if="
        (userServices.limitedPortal || userServices.advPortal) &&
        userServices.cards8
      "
    >
      <div class="data-content">
        <dashboard-card
          v-bind:value="temperature"
          parameter="Temperature"
          unit="ºC"
          path="temp.png"
          :event="showEvents.temperature"
        />
        <dashboard-card
          :value="co2"
          parameter="Carbon Dioxide"
          unit="ppm"
          path="co2.png"
          :event="showEvents.co2"
        />
        <dashboard-card
          :value="noise"
          parameter="Noise"
          unit="db"
          path="noise.png"
          :event="showEvents.noise"
        />
        <dashboard-card
          :value="humidity"
          parameter="Humidity"
          unit="%"
          path="humi.png"
          :event="showEvents.humidity"
        />
        <dashboard-card
          :value="lux"
          parameter="Light Intensity"
          unit="lux"
          path="intluz.png"
          :event="showEvents.light"
        />

        <dashboard-card
          :value="tvoc"
          parameter="Air Quality"
          unit="ppb"
          path="qualar.png"
          :event="showEvents.air"
        />
        <dashboard-card
          :value="pressure"
          parameter="Atmospheric Pressure"
          unit="hPa"
          path="preatm.png"
          :event="showEvents.pressure"
        />
        <dashboard-card
          :value="wifi"
          parameter="Wifi Signal"
          unit="dBm"
          path="wifi.png"
          :event="showEvents.wifi"
        />
        <dashboard-card
          v-if="userServices.cards12"
          :value="r"
          :value1="g"
          :value2="b"
          parameter="Light Colorimetry"
          unit="r"
          unit1="g"
          unit2="b"
          path="colo.png"
          :event="showEvents.wifi"
        />
        <dashboard-card
          v-if="userServices.cards12"
          :value="lightTemp"
          parameter="Light Temperature"
          unit="K"
          path="temluz.png"
          :event="showEvents.wifi"
        />
        <dashboard-card
          v-if="userServices.cards12"
          :value="devicesCount"
          parameter="Number of Devices"
          unit="un"
          path="numpes.png"
          :event="showEvents.deviceCount"
        />
        <dashboard-card
          v-if="userServices.cards12"
          :value="devicesFlow"
          parameter="Devices Flow"
          unit="un"
          path="flupes.png"
          :event="showEvents.wifi"
        />
      </div>

      <v-col class="d-flex" cols="12" sm="12" style="margin: auto">
        <v-col sm="3">
          <v-card
            style="height: 40px; border-width: 4px; border-style: ridge"
            >{{ time }}</v-card
          >
        </v-col>
        <v-col sm="3">
          <v-select
            :items="devicesToSelect"
            v-model="selectedDevice"
            @change="updateSelectedDevice(selectedDevice)"
            label="Choose Device"
            dense
            outlined
          ></v-select>
        </v-col>
        <v-col sm="3">
          <v-card
            style="height: 40px; border-width: 4px; border-style: ridge"
            >{{ updatedDeviceName }}</v-card
          >
        </v-col>

        <v-col sm="3">
          <v-select
            v-if="userServices.advPortal"
            :items="graphsToSelect"
            v-model="selectedGraph"
            @change="updateSelectedGraph(selectedGraph)"
            label="Choose Graph"
            dense
            outlined
          ></v-select>
        </v-col>
      </v-col>
    </div>

    <v-container v-if="userServices.advPortal && lineChart" class="graphic">
      <v-row class="d-flex" style="height: 100%">
        <v-col sm="2" style="margin: auto">
          <v-row>
            <v-select
              :items="devicesToSelect"
              v-model="selectedDevice"
              @change="updateSelectedDevice(selectedDevice)"
              label="Choose Device"
              dense
              outlined
            ></v-select>
          </v-row>

          <v-row>
            <v-select
              :items="periodsToSelect"
              v-model="timePeriod"
              @change="updateTimePeriod(timePeriod)"
              label="Choose Time Period"
              dense
              outlined
            ></v-select>
          </v-row>

          <v-row>
            <v-select
              :items="dataToSelect"
              v-model="dataType"
              @change="updateLineGraph(dataType)"
              label="Choose Data Type"
              dense
              outlined
            ></v-select>
          </v-row>
        </v-col>

        <v-col sm="10" style="margin: auto">
          <line-graph :dateList="dates" :valueList="series" />
        </v-col>
      </v-row>
    </v-container>

    <v-container v-if="userServices.advPortal && barChart" class="graphic">
      <v-row class="d-flex" style="height: 100%">
        <v-col sm="2" style="margin: auto">
          <v-row>
            <v-select
              :items="devicesToSelect"
              v-model="dataType"
              @change="selectedDevice(devices)"
              label="Choose Devices"
              dense
              outlined
            ></v-select>
          </v-row>

          <v-row>
            <v-select
              :items="dataToSelect"
              v-model="dataType"
              @change="updateBarGraph(dataType)"
              label="Choose Data Type"
              dense
              outlined
            ></v-select>
          </v-row>
        </v-col>

        <v-col sm="10" style="margin: auto">
          <bar-graph
            :devices="barChartDevices"
            :dataValues="barChartData"
            :date="barChartDates"
          />
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import BlueprintDisplay from "@/components/BlueprintDisplay";
import DashboardCard from "@/components/DashboardCard";
import LineGraph from "@/components/LineGraph";
import BarGraph from "../../components/BarGraph.vue";
import DataService from "@/services/DataService";
import EventService from "@/services/EventService";
import moment from "moment";
import { mapState } from "vuex";

export default {
  data() {
    return {
      // Global Variables
      payload: {},
      devices: [],

      // Event Variables
      events: {},
      userServices: {},
      showEventsBlueprint: {
        temperature: {
          flag: false,
          severity: null,
          message: "",
        },
        co2: {
          flag: false,
          severity: null,
          message: "",
        },
        noise: {
          flag: false,
          severity: null,
          message: "",
        },
        humidity: {
          flag: false,
          severity: null,
          message: "",
        },
        light: {
          flag: false,
          severity: null,
          message: "",
        },
        air: {
          flag: false,
          severity: null,
          message: "",
        },
        pressure: {
          flag: false,
          severity: null,
          message: "",
        },
        wifi: {
          flag: false,
          severity: null,
          message: "",
        },
        deviceCount: {
          flag: false,
          severity: null,
          message: "",
        },
      },
      showEvents: {
        temperature: {
          flag: false,
          severity: null,
          message: "",
        },
        co2: {
          flag: false,
          severity: null,
          message: "",
        },
        noise: {
          flag: false,
          severity: null,
          message: "",
        },
        humidity: {
          flag: false,
          severity: null,
          message: "",
        },
        light: {
          flag: false,
          severity: null,
          message: "",
        },
        air: {
          flag: false,
          severity: null,
          message: "",
        },
        pressure: {
          flag: false,
          severity: null,
          message: "",
        },
        wifi: {
          flag: false,
          severity: null,
          message: "",
        },
        deviceCount: {
          flag: false,
          severity: null,
          message: "",
        },
      },

      // LineChart Variables
      series: [],
      dates: [],

      // BarChart Variables
      barChartPayload: [],
      barChartDates: [],
      barChartData: [],
      barChartDevices: [],

      // Button variables
      selectedDevice: [],
      devicesToSelect: [],
      periodsToSelect: ["Daily", "Weekly", "Monthly"],
      dataToSelect: [
        "Temperature",
        "Co2",
        "Noise",
        "Humidity",
        "Light",
        "Wifi",
        "Air",
        "Pressure",
        "Number of Devices",
      ],
      graphsToSelect: ["Line", "Bar"],
      dataTypes: [
        "temp",
        "eco2",
        "dbavg",
        "humidity",
        "lux",
        "rssi",
        "tvoc",
        "pressure",
        "devicesNumber",
      ],
      selectedGraph: "",
      dataType: "",
      dateFrom: "",
      dateTo: "",
      timePeriod: "",
      deviceName: "",
      barChart: true,
      lineChart: false,
      error: null,
    };
  },
  components: {
    BlueprintDisplay,
    DashboardCard,
    LineGraph,
    BarGraph,
  },

  computed: {
    ...mapState(["userRole"]),
    temperature() {
      return this.payload?.data?.temperature;
    },
    noise() {
      return this.payload?.data?.dbavg;
    },
    humidity() {
      return this.payload?.data?.humidity;
    },
    co2() {
      return this.payload?.data?.eco2;
    },
    lux() {
      return this.payload?.data?.lux;
    },
    wifi() {
      return this.payload?.data?.rssi;
    },
    tvoc() {
      return this.payload?.data?.tvoc;
    },
    pressure() {
      return this.payload?.data?.pressure;
    },
    lightTemp() {
      return this.payload?.data?.light_temp_raw;
    },
    r() {
      return this.payload?.data?.r;
    },
    g() {
      return this.payload?.data?.g;
    },
    b() {
      return this.payload?.data?.b;
    },
    devicesCount() {
      return this.payload?.data?.devicesCount;
    },
    devicesFlow() {
      return this.payload?.data?.devicesFlow;
    },
    time() {
      return moment(this.payload?.data?.createdAt).format(
        "MMMM Do YYYY, h:mm:ss a"
      );
    },
    updatedDeviceName() {
      return this.deviceName;
    },
  },

  methods: {
    async getDashboardData(devices) {
      try {
        await DataService.getCurrentData(devices).then((data) => {
          this.payload = data?.data;
          console.log('payload: ', this.payload)
        });
      } catch (err) {
        console.log(err);
      }
    },

    async getDashboardEvents(dataId, deviceId) {
      let self = this;
      try {
        await EventService.getCurrentEvents(dataId, deviceId).then((data) => {
          this.events = data.data;
        });
      } catch (err) {
        this.error = "An error occurred while loading data";
        console.log(err);
      }
      // resetting showEvents variable to its blueprint
      this.showEvents = { ...this.showEventsBlueprint };

      this.events.forEach(function (value) {
        switch (value.dataType) {
          case 0:
            self.showEvents.temperature = {};
            self.showEvents.temperature.flag = true;
            self.showEvents.temperature.severity = value.eventType;
            self.showEvents.temperature.message = value.message;
            break;
          case 1:
            self.showEvents.co2 = {};
            self.showEvents.co2.flag = true;
            self.showEvents.co2.severity = value.eventType;
            self.showEvents.co2.message = value.message;
            break;
          case 2:
            self.showEvents.noise = {};
            self.showEvents.noise.flag = true;
            self.showEvents.noise.severity = value.eventType;
            self.showEvents.noise.message = value.message;
            break;
          case 3:
            self.showEvents.humidity = {};
            self.showEvents.humidity.flag = true;
            self.showEvents.humidity.severity = value.eventType;
            self.showEvents.humidity.message = value.message;
            break;
          case 4:
            self.showEvents.light = {};
            self.showEvents.light.flag = true;
            self.showEvents.light.severity = value.eventType;
            self.showEvents.light.message = value.message;
            break;
          case 5:
            self.showEvents.air = {};
            self.showEvents.air.flag = true;
            self.showEvents.air.severity = value.eventType;
            self.showEvents.air.message = value.message;
            break;
          case 6:
            self.showEvents.pressure = {};
            self.showEvents.pressure.flag = true;
            self.showEvents.pressure.severity = value.eventType;
            self.showEvents.pressure.message = value.message;
            break;
          case 7:
            self.showEvents.wifi = {};
            self.showEvents.wifi.flag = true;
            self.showEvents.wifi.severity = value.eventType;
            self.showEvents.wifi.message = value.message;
            break;
          case 8:
            self.showEvents.deviceCount = {};
            self.showEvents.deviceCount.flag = true;
            self.showEvents.deviceCount.severity = value.eventType;
            self.showEvents.deviceCount.message = value.message;
            break;
        }
      });
    },

    updateLineGraph(dataType) {
      let dataOfType = dataType;
      console.log('dateFrom: ', this.dateFrom)
      console.log('dateTo: ', this.dateTo)

      DataService.getDataOfType(
        this.selectedDevice,
        this.dateFrom,
        this.dateTo,
        dataOfType
      )
        .then((data) => {
          this.series = [];
          this.dates = [];
          let payload = data.data;

          function formatTimestamp(timestamp) {
            return moment(timestamp).format("MMMM Do YYYY, h:mm:ss a");
          }

          payload.forEach(function (value) {
            value.createdAt = formatTimestamp(value["createdAt"]);
          });

          this.dates = payload.map(function (item) {
            return item.createdAt;
          });

          let temp = [];
          for (let row of payload) {
            switch (dataOfType) {
              case "Temperature":
                temp.push(row.temperature);
                break;
              case "Humidity":
                temp.push(row.humidity);
                break;
              case "Co2":
                temp.push(row.eco2);
                break;
              case "Noise":
                temp.push(row.dbavg);
                break;
              case "Light":
                temp.push(row.lux);
                break;
              case "Wifi":
                temp.push(row.rssi);
                break;
              case "Air":
                temp.push(row.tvoc);
                break;
              default:
                break;
            }
          }
          this.series.push({
            type: "line",
            showSymbol: false,
            data: temp,
          });
          console.log("series: ", this.series)
        })
        .catch((err) => {
          console.log(err);
        });
    },

    async updateBarGraph(dataType) {
      let self = this;
      let dataOfType = "";
      let deviceIds = [];
      this.barChartDates = [];
      this.barChartData = [];
      this.barChartDevices = [];

      switch (dataType) {
        case "Temperature":
          dataOfType = "temp";
          break;
        case "Co2":
          dataOfType = "eco2";
          break;
        case "Noise":
          dataOfType = "dbavg";
          break;
        case "Humidity":
          dataOfType = "humidity";
          break;
        case "Light":
          dataOfType = "lux";
          break;
        case "Wifi":
          dataOfType = "rssi";
          break;
        case "Air":
          dataOfType = "tvoc";
          break;
        case "Pressure":
          dataOfType = "pressure";
          break;
        case "Number of Devices":
          dataOfType = "devicesCount";
          break;
      }

      this.devices.forEach(function (value) {
        deviceIds.push(Number(value.id));
      });
      try {
        let response = await DataService.getDataFromAllDevices(
          deviceIds,
          dataOfType
        );
        this.barChartPayload = response.data;
        this.barChartPayload.forEach(function (value) {
          value.createdAt = moment(value.createdAt).format(
            "MMMM Do YYYY, h:mm:ss a"
          );
        });

        this.barChartPayload.forEach(function (value) {
          value.name = self.nameDevice(value["refDeviceId"]);
        });

        for (let i = 0; i < this.barChartPayload.length; i++) {
          this.barChartDates.push(this.barChartPayload[i].createdAt);
          this.barChartData.push(this.barChartPayload[i][`${dataOfType}`]);
          this.barChartDevices.push(this.barChartPayload[i].name);
        }

        // REPETITION TO BEAUTIFY THE GRAPH PLOT
        // -------------------------------------
        for (let i = 0; i < this.barChartPayload.length; i++) {
          this.barChartDates.push(this.barChartPayload[i].createdAt);
          this.barChartData.push(this.barChartPayload[i][`${dataOfType}`]);
          this.barChartDevices.push(this.barChartPayload[i].name);
        }
        // -------------------------------------
      } catch (err) {
        console.log(err);
      }
      console.log("barchartPayload: ", this.barChartPayload);
    },

    updateSelectedGraph(selectedGraph) {
      switch (selectedGraph) {
        case "Line":
          this.barChart = false;
          this.lineChart = true;
          this.dataType = "Temperature";
          this.updateLineGraph(this.dataType);
          break;
        case "Bar":
          this.barChart = true;
          this.lineChart = false;
          this.dataType = "Temperature";
          this.updateBarGraph(this.dataType);
          break;
      }
    },

    updateTimePeriod(timePeriod) {
      // console.log("updateTimePeriod");
      this.dateTo = moment().add(1, "days").format("YYYY-MM-DD");
      // console.log("dateTo: ", this.dateTo);
      switch (timePeriod) {
        case "Daily":
          this.dateFrom = moment()
            .subtract(1, "days")
            .format("YYYY-MM-DD h:mm:ss a");
          // console.log("dateFrom: ", this.dateFrom);
          break;
        case "Weekly":
          this.dateFrom = moment()
            .subtract(1, "weeks")
            .format("YYYY-MM-DD h:mm:ss a");
          // console.log("dateFrom: ", this.dateFrom);
          break;
        case "Monthly":
          this.dateFrom = moment()
            .subtract(1, "months")
            .format("YYYY-MM-DD h:mm:ss a");
          // console.log("dateFrom: ", this.dateFrom);
          break;
      }
      this.updateLineGraph(this.dataType);
    },

    async updateSelectedDevice(selectedDevice) {
      this.selectedDevice = [];

      for (let i = 0; i < this.devices.length; i++) {
        if (selectedDevice === this.devices[i].name) {
          this.selectedDevice.push(this.devices[i].id);
          this.deviceName = this.devices[i].name;
        }
      }
      await this.getDashboardData(this.selectedDevice);
      this.getDashboardEvents(this.payload.data.id, this.selectedDevice);
      this.updateLineGraph(this.dataType);
    },

    nameDevice(deviceId) {
      for (let i = 0; i < this.devices.length; i++) {
        if (deviceId === this.devices[i].id) {
          return this.devices[i].name;
        }
      }
    },
  },

  async mounted() {
    try {
      let self = this;
      // Setting the default device from whom data will be shown
      this.devices = this.$store.getters.devices;
      this.dataType = "Temperature";
      this.selectedDevice.push(this.devices[0].id);

      this.deviceName = this.devices[0].name;
      this.userServices = this.$store.getters.userServices;

      // Setting the default values for time period (daily)
      this.dateFrom = moment()
        .subtract(1, "days")
        .format("YYYY-MM-DD h:mm:ss a");
      this.dateTo = moment().add(0, "days").format("YYYY-MM-DD h:mm:ss a");

      // Storing the names of the devices on an array to have them on hand to pass to the "Choose Device button"
      for (let i = 0; i < this.devices.length; i++) {
        this.devicesToSelect.push(this.devices[i].name);
      }

      // Querying the database for latest data entry to populate the dashboard
      await this.getDashboardData(this.selectedDevice);

      // Querying events db table for all events with refData = data.id
      await this.getDashboardEvents(this.payload.data.id, this.selectedDevice);

      // Querying the database for the default data to plot the line graph
      await DataService.getDefaultPlotData(
        this.selectedDevice,
        this.dateFrom,
        this.dateTo
      ).then((data) => {
        this.dateList = data.data.map(function (item) {
          return item.createdAt;
        });
        let temp = [];
        temp = data.data.map(function (item) {
          return item.temperature;
        });
        this.series.push({
          type: "line",
          showSymbol: false,
          data: temp,
        });
      });

      // Set the data to plot the bar chart
      var deviceIds = [];

      this.devices.forEach(function (value) {
        deviceIds.push(Number(value.id));
      });

      let dataType = "temp";
      let response = await DataService.getDataFromAllDevices(
        deviceIds,
        dataType
      );
      this.barChartPayload = response.data;
      this.barChartPayload.forEach(function (value) {
        value.createdAt = moment(value.createdAt).format(
          "MMMM Do YYYY, h:mm:ss a"
        );
      });

      this.barChartPayload.forEach(function (value) {
        value.name = self.nameDevice(value["refDeviceId"]);
      });

      for (let i = 0; i < this.barChartPayload.length; i++) {
        this.barChartDates.push(this.barChartPayload[i].createdAt);
        this.barChartDevices.push(this.barChartPayload[i].name);
        this.barChartData.push(this.barChartPayload[i][`${dataType}`]);
      }

      // REPETITION TO BEAUTIFY THE GRAPH PLOT
      // -------------------------------------
      for (let i = 0; i < this.barChartPayload.length; i++) {
        this.barChartDates.push(this.barChartPayload[i].createdAt);
        this.barChartData.push(this.barChartPayload[i][`${dataType}`]);
        this.barChartDevices.push(this.barChartPayload[i].name);
      }
      // -------------------------------------
    } catch (err) {
      console.log(err);
    }
  },
  watch: {},
};
</script>

<style scoped>
.blueprint {
  /* border: 1px solid red; */
  grid-area: blueprint;
  padding: 20px;
}

.data {
  grid-area: data;
  padding: 20px;
  /* border: 1px solid yellow; */
}

.data-content {
  display: flex;
  min-height: 100px;
  min-width: 100px;
  flex-wrap: wrap;
  column-gap: 10px;
  margin-top: 20px;
  /* border: 1px solid blue; */
}

.graphic {
  /* border: 1px solid red; */
  grid-area: graphic;
  padding: 20px;
}

.container-lobby {
  /* border: 1px solid red; */
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(autofill, minmax(350px, 1fr));
  grid-template-areas:
    "blueprint data"
    "graphic graphic"
    "graphic2 graphic2";
}
</style>