<template>
  <v-layout column>
    <div class="align-center text-center" style="margin-top: 10px">
      <v-card elevation="6" max-width="400" style="margin: auto">
        <v-toolbar flat dense class="blue darken-3" dark>
          <v-toolbar-title>Login Page</v-toolbar-title>
        </v-toolbar>
        <!--class that defines paddings(left, right, top && bottom-->
        <div class="pl-4 pr-4 pt-2 pb-2">
          <v-text-field v-model="email" label="Email" filled></v-text-field>
          <v-text-field
            v-model="password"
            type="password"
            label="Password"
            filled
          ></v-text-field>
          <div class="red--text" v-html="error" />
          <br />
          <v-btn elevation="2" @click="handleLogin"> Login </v-btn>
        </div>
      </v-card>
    </div>
  </v-layout>
</template>

<script>
import AuthenticationService from "@/services/AuthenticationService";
export default {
  data() {
    return {
      userServices: {
        limitedPortal: false,
        advPortal: false,
        csvExport: false,
        extIntegration: false,
        analytics: false,
        control: false,
        notification: false,
        cards8: false,
        cards12: false,
        sr20: false,
        sr10: false,
        sr5: false,
      },
      email: "",
      password: "",
      error: null,
    };
  },
  methods: {
    async handleLogin() {
      try {
        const response = await AuthenticationService.login({
          email: this.email,
          password: this.password,
        });
        console.log("login response: ", response);

        let services = [];
        for (let i = 0; i < response.data.services.length; i++) {
          services.push(response.data.services[i].refService);
        }
        for (let i = 0; i < response.data.extras.length; i++) {
          services.push(response.data.extras[i].refService);
        }
        services.sort((a, b) => a - b); 
        console.log("services: ", services);

        for (let i = 0; i < services.length; i++) {
          switch (services[i]) {
            case 1:
              this.userServices.csvExport = true;
              break;
            case 2:
              this.userServices.extIntegration = true;
              break;
            case 3:
              this.userServices.notification = true;
              break;
            case 4:
              this.userServices.advPortal = true;
              break;
            case 5:
              this.userServices.analytics = true;
              break;
            case 6:
              this.userServices.control = true;
              break;
            case 7:
              this.userServices.limitedPortal = true;
              break;
            case 8:
              this.userServices.limitedPortal = false;
              this.userServices.advPortal = true;
              this.userServices.csvExport = true;
              this.userServices.extIntegration = true;
              this.userServices.analytics = true;
              this.userServices.control = true;
              break;
            case 9:
              this.userServices.cards8 = true;
              break;
            case 10:
              this.userServices.cards8 = true;
              this.userServices.cards12 = true;
              break;
            case 11:
              this.userServices.sr20 = true;
              break;
            case 12:
              this.userServices.sr20 = false;
              this.userServices.sr10 = true;
              break;
            case 13:
              this.userServices.sr20 = false;
              this.userServices.sr10 = false;
              this.userServices.sr5 = true;
              break;
          }
        }
        console.log("userServices: ", this.userServices);

        // Vuex
        this.$store.dispatch("setToken", response.data.token);
        this.$store.dispatch("setUser", response.data.user);
        this.$store.dispatch("setDevices", response.data.devices);
        this.$store.dispatch("setRole", response.data.role);
        this.$store.dispatch("setExtras", response.data.extras);
        this.$store.dispatch("setGroup", response.data.group);
        this.$store.dispatch("setServices", this.userServices);

        this.$router.push({ name: "lobby", query: { redirect: "/lobby" } });
      } catch (error) {
        this.error = error.response.data.error;
        console.log(error);
      }
    },
  },
};
</script>

<style scoped>
</style>
