<template>
  <v-layout column>
    <div class="align-center text-center" style="margin-top: 10px">
      <v-card elevation="6" max-width="800" style="margin: auto">
        <v-toolbar flat dense class="blue darken-3" dark>
          <v-toolbar-title>Register Page</v-toolbar-title>

          <v-spacer></v-spacer>

          <v-btn
            class="grey lighten-3 black--text mr-4"
            v-if="!$store.state.isUserLoggedIn"
            @click="navigateTo({ name: 'register' })"
          >
            <v-icon>person_outline</v-icon>
            Individual
          </v-btn>

          <v-btn
            class="grey lighten-3 black--text"
            v-if="!$store.state.isUserLoggedIn"
            @click="navigateTo({ name: 'registerCompany' })"
          >
            <v-icon class="mr-1">work_outline</v-icon>
            Company
          </v-btn>
        </v-toolbar>

        <!--class that defines paddings(left, right, top && bottom-->
        <div class="pl-4 pr-4 pt-2 pb-4">
          <form name="register-form" autocomplete="off">
            <v-text-field
              v-model="username"
              label="Username"
              filled
            ></v-text-field>
            <br />
            <v-text-field v-model="email" label="Email" filled></v-text-field>
            <br />
            <v-text-field
              v-model="password"
              type="password"
              label="Password"
              filled
            ></v-text-field>
            <br />
          </form>
          <div class="red--text" v-html="error" />
          <br />

          <v-btn elevation="2" @click="register">
            <v-icon>app_registration</v-icon>
            Register </v-btn>
        </div>
      </v-card>
    </div>
  </v-layout>
</template>

<script>
import AuthenticationService from "@/services/AuthenticationService";
export default {
  data() {
    return {
      username: "",
      email: "",
      password: "",
      error: null,
    };
  },
  methods: {
    async register() {
      try {
        const response = await AuthenticationService.register({
          username: this.username,
          email: this.email,
          password: this.password,
        });
        console.log(response);

        this.$router.push({
          name: "deviceSetup",
          query: { redirect: "/deviceSetup" },
        });
      } catch (error) {
        this.error = error.response.data.error;
      }
    },
    navigateTo(route) {
      this.$router.push(route);
    },
  },
};
</script>

<style scoped>
</style>
