<template>
  <div>
    <p class="text-h4 font-weight-bold mt-16 mx-auto">Group Users</p>

    <div class="align-center text-center mt-12 mx-6">
      <v-card elevation="6" style="margin: auto">
        <v-toolbar flat dense class="blue darken-3" dark>
          <v-toolbar-title>Users List</v-toolbar-title>
        </v-toolbar>
        <div class="pl-4 pr-4 pt-2 pb-2">
          <v-simple-table fixed-header height="300px" class="mx-6">
            <template v-slot:default>
              <thead>
                <tr>
                  <th class="text-center text-h6 font-weight-bold">
                    First Name
                  </th>
                  <th class="text-center text-h6 font-weight-bold">
                    Last Name
                  </th>
                  <th class="text-center text-h6 font-weight-bold">Email</th>
                  <th class="text-center text-h6 font-weight-bold">Role</th>
                  <th class="text-center text-h6 font-weight-bold">
                    Date Added
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in users" :key="item.name">
                  <td>{{ item.firstName }}</td>
                  <td>{{ item.lastName }}</td>
                  <td>{{ item.email }}</td>
                  <td v-if="item.refRole === 3">master</td>
                  <td v-if="item.refRole === 2">user</td>
                  <td v-if="item.refRole === 1">admin</td>
                  <td>{{ item.createdAt }}</td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </div>
      </v-card>
    </div>

    <div
      v-if="userRole === 'admin' || userRole === 'master'"
      class="align-center text-center mt-12 mx-6"
    >
      <v-card elevation="6" style="margin: auto">
        <v-toolbar flat dense class="blue darken-3" dark>
          <v-toolbar-title>Add New User</v-toolbar-title>
        </v-toolbar>
        <div class="d-flex mt-12 mx-12">
          <v-flex class="md2">
            <v-text-field
              v-model="username"
              label="Username"
              autocomplete="off"
              filled
            ></v-text-field>
          </v-flex>
          <v-flex class="md3 ml-12">
            <v-text-field
              v-model="email"
              label="Email"
              autocomplete="off"
              filled
            ></v-text-field>
          </v-flex>
          <v-flex class="md2 ml-12">
            <v-text-field
              v-model="password"
              type="password"
              label="Password"
              autocomplete="off"
              filled
            ></v-text-field>
          </v-flex>

          <v-flex class="md2 ml-12">
            <v-container fluid>
              <v-combobox
                class=""
                v-model="role"
                :items="items"
                :search-input.sync="search"
                hide-selected
                hint="Maximum of 1 value"
                label="Choose Role"
                multiple
                persistent-hint
                small-chips
              >
              </v-combobox>
            </v-container>
          </v-flex>

          <!-- TODO: Implement input validation -->
          <!-- <div class="red--text" v-html="error" /> -->
          <br />
          <v-btn class="ml-16 mt-3" elevation="2" @click="createUser()">
            Create
          </v-btn>
        </div>
        <br />
        <div class="red--text" v-html="error" />
        <div class="green--text" v-html="success" />
      </v-card>
    </div>
  </div>
</template>

<script>
import GroupService from "@/services/GroupService";
import UserService from "@/services/UserService";
import { mapState } from "vuex";

export default {
  data() {
    return {
      userInfo: {},
      users: [],
      items: ["admin", "user"],
      model: ["Vuetify"],
      username: "",
      email: "",
      password: "",
      role: "",
      groupId: "",
      search: null,
      error: null,
      success: null,
    };
  },
  computed: {
    ...mapState(["userRole"]),
  },
  methods: {
    async createUser() {
      try {
        const response = await UserService.createUser({
          username: this.username,
          email: this.email,
          password: this.password,
          refRole: this.role[0],
          refGroup: this.groupId,
        });
        this.error = null;
        this.success = "User successfully created.";
        this.retrieveEntries();
        console.log("Response: ", response);
      } catch (error) {
        this.error = error.response.data.error;
      }
    },

    async retrieveEntries() {
      try {
        const response = await GroupService.getGroupUsers(this.groupId);
        this.users = response.data;
        console.log("users: ", this.users);
      } catch (err) {
        console.log(err);
      }
    },
  },
  async mounted() {
    this.userInfo = this.$store.getters.userInfo;
    this.groupId = this.userInfo.refGroup;

    this.retrieveEntries();
  },
  watch: {
    //Combobox v-model value is being watched to prevent the selection of more than 1 value
    role(val) {
      if (val.length > 1) {
        this.$nextTick(() => this.role.pop());
      }
    },
  },
};
</script>


<style scoped>
</style>