<template>
  <div>
    <p class="text-h4 font-weight-bold mt-16 mx-auto">App Devices</p>

    <div
      class="align-center text-center mt-12 mx-6"
      v-if="userRole === 'master'"
    >
      <v-card elevation="6" style="margin: auto">
        <v-toolbar flat dense class="blue darken-3" dark>
          <v-toolbar-title>Devices List</v-toolbar-title>
        </v-toolbar>
        <div class="pl-4 pr-4 pt-2 pb-2">
          <v-data-table
            :headers="headers"
            :search="search"
            :items="devices"
            :items-per-page="5"
            fixed-header
            class="elevation-1"
          >
            <template v-slot:[`item.actions`]="{ item }">
              <v-icon medium @click="deleteEntry(item.id)">delete</v-icon>
            </template>
          </v-data-table>

          <v-card-title class="mx-16">
            <v-spacer></v-spacer>
            <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              label="Search"
              single-line
              hide-details
            ></v-text-field>
          </v-card-title>
        </div>
      </v-card>
    </div>

    <div
      v-if="userRole === 'master'"
      class="align-center text-center mt-12 mx-6"
    >
      <v-card elevation="6" style="margin: auto">
        <v-toolbar flat dense class="blue darken-3" dark>
          <v-toolbar-title>Add Device Package</v-toolbar-title>
        </v-toolbar>
        <div class="d-flex mt-12 mx-12">
          <v-flex class="md4 ml-12">
            <v-text-field
              v-model="serialNumberUpdate"
              label="Serial Number"
              autocomplete="off"
              filled
            ></v-text-field>
          </v-flex>
          <v-flex class="md4 ml-12">
            <v-text-field
              v-model="devicePackageUpdate"
              label="Package"
              autocomplete="off"
              filled
            ></v-text-field>
          </v-flex>
          <br />
          <v-btn class="ml-16 mt-3" elevation="2" @click="updateDevice()">
            UPDATE
          </v-btn>
        </div>
        <br />
        <div class="red--text" v-html="updateError" />
        <div class="green--text" v-html="updateSuccess" />
      </v-card>
    </div>

    <div
      v-if="userRole === 'master'"
      class="align-center text-center mt-12 mx-6"
    >
      <v-card elevation="6" style="margin: auto">
        <v-toolbar flat dense class="blue darken-3" dark>
          <v-toolbar-title>Add Device</v-toolbar-title>
        </v-toolbar>
        <div class="d-flex mt-12 mx-12">
          <v-flex class="md4">
            <v-text-field
              v-model="mac"
              label="MAC Address"
              autocomplete="off"
              filled
            ></v-text-field>
          </v-flex>
          <v-flex class="md4 ml-12">
            <v-text-field
              v-model="serialNumber"
              label="Serial Number"
              autocomplete="off"
              filled
            ></v-text-field>
          </v-flex>
          <v-flex class="md4 ml-12">
            <v-text-field
              v-model="devicePackage"
              label="Package"
              autocomplete="off"
              filled
            ></v-text-field>
          </v-flex>

          <!-- TODO: Implement input validation -->
          <!-- <div class="red--text" v-html="error" /> -->
          <br />
          <v-btn class="ml-16 mt-3" elevation="2" @click="addDevice()">
            ADD
          </v-btn>
        </div>
        <br />
        <div class="red--text" v-html="error" />
        <div class="green--text" v-html="success" />
      </v-card>
    </div>
  </div>
</template>

<script>
import DeviceService from "@/services/DeviceService";
import { mapState } from "vuex";
import GroupService from "@/services/GroupService";
import moment from "moment";

export default {
  data() {
    return {
      devices: [],
      headers: [
        { text: "MAC Address", value: "mac" },
        { text: "Serial Number", value: "serialNumber" },
        { text: "Package", value: "refPackage" },
        { text: "Group", value: "groupName" },
        { text: "Date", value: "createdAt" },
        { text: "Actions", value: "actions", sortable: false },
      ],
      groups: [],
      search: "",
      mac: "",
      serialNumber: "",
      devicePackage: null,
      serialNumberUpdate: "",
      devicePackageUpdate: null,
      updateError: null,
      error: null,
      updateSuccess: null,
      success: null,
    };
  },
  computed: {
    ...mapState(["userRole"]),
  },
  methods: {
    async retrieveEntries() {
      try {
        const response = await DeviceService.getAllDevices();
        this.devices = response.data;
        console.log("devices: ", this.devices);

        let response1 = await GroupService.getAllGroups();
        this.groupObj = response1.data;
        console.log("groups: ", this.groupObj);
      } catch (err) {
        console.log(err);
      }

      //TODO: Place data treatment below in server side
      let groups = this.groupObj;

      function formatTimestamp(timestamp) {
        return moment(timestamp).format("MMMM Do YYYY, h:mm:ss a");
      }

      function nameGroups(groupId) {
        for (let i = 0; i < groups.length; i++) {
          if (groupId === groups[i].id) {
            return groups[i].name;
          }
        }
      }

      this.devices.forEach(function (value) {
        value.createdAt = formatTimestamp(value["createdAt"]);
        value.groupName = nameGroups(value["refGroup"]);
      });

      console.log("devicesFinal: ", this.devices);
    },

    async refreshList() {
      console.log("refreshList");
      await this.retrieveEntries();
    },

    async addDevice() {
      try {
        const response = await DeviceService.addDevice({
          mac: this.mac,
          serialNumber: this.serialNumber,
          refPackage: this.devicePackage,
        });
        this.error = null;
        this.success = "Device successfully added.";
        this.refreshList();
        console.log("Response: ", response);
      } catch (error) {
        this.error = error.response.data.error;
      }
    },

    async updateDevice() {
      try {
        const response = await DeviceService.updateDevice({
          mac: this.mac,
          serialNumber: this.serialNumberUpdate,
          refPackage: this.devicePackageUpdate,
        });
        console.log("before refresh");
        this.updateError = null;
        this.updateSuccess = "Package successfully updated.";
        this.refreshList();
        console.log("Response: ", response);
      } catch (error) {
        console.log("ERROR: ", error);
        this.updateError = error.response.data.error;
      }
    },

    async deleteEntry(id) {
      DeviceService.delete(id)
        .then(() => {
          this.refreshList();
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
  async mounted() {
    await this.retrieveEntries();
  },
};
</script>


<style scoped>
</style>