<template>
  <div>
    <p class="text-h4 font-weight-bold mt-16 mx-auto">App Users</p>

    <div
      class="align-center text-center mt-12 mx-6"
      v-if="userRole === 'master'"
    >
      <v-card elevation="6" style="margin: auto">
        <v-toolbar flat dense class="blue darken-3" dark>
          <v-toolbar-title>Users List</v-toolbar-title>
        </v-toolbar>
        <div class="pl-4 pr-4 pt-2 pb-2">
          <v-data-table
            :headers="headers"
            :search="search"
            :items="users"
            :items-per-page="5"
            fixed-header
            class="elevation-1"
          >
            <template v-slot:[`item.actions`]="{ item }">
              <v-icon medium @click="deleteEntry(item.id)">delete</v-icon>
            </template>
          </v-data-table>

          <v-card-title class="mx-16">
            <v-spacer></v-spacer>
            <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              label="Search"
              single-line
              hide-details
            ></v-text-field>
          </v-card-title>
        </div>
      </v-card>
    </div>

    <div
      v-if="userRole === 'master'"
      class="align-center text-center mt-12 mx-6"
    >
      <v-card elevation="6" style="margin: auto">
        <v-toolbar flat dense class="blue darken-3" dark>
          <v-toolbar-title>Add New User</v-toolbar-title>
        </v-toolbar>
        <div class="d-flex mt-12 mx-12">
          <v-flex class="md2">
            <v-text-field
              v-model="username"
              label="Username"
              autocomplete="off"
              filled
            ></v-text-field>
          </v-flex>
          <v-flex class="md3 ml-12">
            <v-text-field
              v-model="email"
              label="Email"
              autocomplete="off"
              filled
            ></v-text-field>
          </v-flex>
          <v-flex class="md3 ml-12">
            <v-text-field
              v-model="groupId"
              label="groupId"
              autocomplete="off"
              filled
            ></v-text-field>
          </v-flex>
          <v-flex class="md2 ml-12">
            <v-text-field
              v-model="password"
              type="password"
              label="Password"
              autocomplete="off"
              filled
            ></v-text-field>
          </v-flex>

          <v-flex class="md2 ml-12">
            <v-container fluid>
              <v-combobox
                class=""
                v-model="role"
                :items="items"
                :search-input.sync="search"
                hide-selected
                hint="Maximum of 1 value"
                label="Choose Role"
                multiple
                persistent-hint
                small-chips
              >
              </v-combobox>
            </v-container>
          </v-flex>

          <!-- TODO: Implement input validation -->
          <!-- <div class="red--text" v-html="error" /> -->
          <br />
          <v-btn class="ml-16 mt-3" elevation="2" @click="createUser()">
            Create
          </v-btn>
        </div>
        <br />
        <div class="red--text" v-html="error" />
        <div class="green--text" v-html="success" />
      </v-card>
    </div>
  </div>
</template>

<script>
import UserService from "@/services/UserService";
import GroupService from "@/services/GroupService";
import moment from "moment";
import { mapState } from "vuex";

export default {
  data() {
    return {
      userInfo: {},
      users: [],
      groups: [],
      model: ["Vuetify"],
      items: ["master", "admin", "user"],
      headers: [
        { text: "First Name", value: "firstName" },
        { text: "Last Name", value: "lastName" },
        { text: "Email", value: "email" },
        { text: "Group Name", value: "groupName" },
        { text: "Group Id", value: "refGroup" },
        { text: "Role", value: "role" },
        { text: "Date", value: "createdAt" },
        { text: "Actions", value: "actions", sortable: false },
      ],
      username: "",
      email: "",
      password: "",
      role: "",
      groupId: null,
      search: null,
      error: null,
      success: null,
    };
  },
  computed: {
    ...mapState(["userRole"]),
  },
  methods: {
    async retrieveEntries() {
      try {
        let response = await UserService.getAllUsers();
        this.users = response.data;

        let response1 = await GroupService.getAllGroups();
        this.groupObj = response1.data;
      } catch (err) {
        console.log(err);
      }
      let groups = this.groupObj;

      function formatTimestamp(timestamp) {
        return moment(timestamp).format("MMMM Do YYYY, h:mm:ss a");
      }

      function nameGroups(groupId) {
        for (let i = 0; i < groups.length; i++) {
          if (groupId === groups[i].id) {
            return groups[i].name;
          }
        }
      }

      function nameRole(roleId) {
        let role = "";
        switch (roleId) {
          case 1:
            role = "admin";
            break;
          case 2:
            role = "user";
            break;
          case 3:
            role = "master";
            break;
        }
        return role;
      }

      this.users.forEach(function (value) {
        value.createdAt = formatTimestamp(value["createdAt"]);
        value.role = nameRole(value["refRole"]);
        value.groupName = nameGroups(value["refGroup"]);
      });
    },

    async refreshList() {
      await this.retrieveEntries();
    },

    async createUser() {
      try {
        const response = await UserService.createUser({
          username: this.username,
          email: this.email,
          password: this.password,
          refRole: this.role[0],
          refGroup: this.groupId,
        });
        this.error = null;
        this.success = "User successfully created.";
        this.refreshList();
        console.log("Response: ", response);
      } catch (error) {
        this.error = error.response.data.error;
      }
    },

    async deleteEntry(id) {
      UserService.delete(id)
        .then(() => {
          this.refreshList();
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
  async mounted() {
    await this.retrieveEntries();
  },
  watch: {
    //Combobox v-model value is being watched to prevent the selection of more than 1 value
    role(val) {
      if (val.length > 1) {
        this.$nextTick(() => this.role.pop());
      }
    },
  },
};
</script>


<style scoped>
</style>